* {
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.45;
  color: #333333;
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
  .main .utility-header {
    color: white;
    background: #046b99;
    font-size: 87%;
    width: 100%;
    min-height: 4opx;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .utility-header .utility-header_content {
    width: 90.8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .utility-header .utility-header_content .logo {
    margin-top: 0.3vw;
    cursor: pointer;
  }
  .main .utility-header .utility-header_content .globe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .utility-header .utility-header_content .globe .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90.69px;
    cursor: pointer;
  }
  .main .navigation-header {
    min-height: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-bottom: 5px solid #fdb81e;
  }
  .main .navigation-header .navigation {
    width: 90.8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .banner {
    height: 375px;
    width: 100%;
    background-image: url(./images/banner.png);
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6%;
  }
  .main .banner .banner-content {
    background-color: rgba(1, 19, 27, 0.8);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 46.8%;
    min-width: 70vmin;
    height: 65%;
    min-height: 80%;
  }
  .main .banner .banner-content #note {
    text-align: center;
  }
  .main .banner .banner-content #aim {
    text-align: center;
  }
  .main .banner .banner-content #unemployment {
    margin-bottom: 4%;
    text-align: center;
  }
  .main .banner .banner-content #federal {
    text-align: center;
    margin-bottom: 4%;
  }
  .main .banner .banner-content #apply {
    text-align: center;
  }
  .main .banner .banner-content #apply #apply-BTN {
    background-color: whitesmoke;
    background-image: none;
    border-bottom-color: black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 80px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    -webkit-text-decoration-color: #5555;
            text-decoration-color: #5555;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
    text-decoration-thickness: auto;
    -webkit-transition-delay: 0s, 0s, 0s, 0s;
            transition-delay: 0s, 0s, 0s, 0s;
    -webkit-transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
            transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    -webkit-transition-property: color, background-color, border-color, -webkit-box-shadow;
    transition-property: color, background-color, border-color, -webkit-box-shadow;
    transition-property: color, background-color, border-color, box-shadow;
    transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
            transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    vertical-align: middle;
  }
  .main .banner .banner-content #apply #apply-BTN:hover {
    -webkit-text-decoration-color: #02374e;
            text-decoration-color: #02374e;
    color: #02374e;
    background-color: white;
  }
  .main .claim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10%;
  }
  .main .claim spam {
    font-size: 2vw;
  }
  .main .claim #claim-logo {
    margin-bottom: 5%;
  }
  .main .claim #claims {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .claim #claims .unemployment {
    width: 19vw;
    height: 17vw;
    background: url(./images/unemployment.png) no-repeat 0, 0 #000303b9;
    background-blend-mode: multiply;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 15%;
  }
  .main .claim #claims .disability {
    width: 19vw;
    height: 17vw;
    background: url(./images/disability.png) no-repeat 0, 0 #000303b9;
    background-blend-mode: multiply;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 15%;
  }
  .main .claim #claims .PFL {
    width: 19vw;
    height: 17vw;
    width: 19vw;
    height: 17vw;
    background: url(./images/PFL.png) no-repeat 0, 0 #000303b9;
    background-blend-mode: multiply;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 15%;
  }
  .main .brief_container {
    background-color: #323A45;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 212px;
  }
  .main .brief_container span {
    width: 90%;
    font-size: 1.6vw;
  }
  .main .PFL_banner {
    background-image: url(./images/PFL-BKG.png);
    height: 212px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .PFL_banner .PFL_banner_div {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .PFL_banner .PFL_banner_div .PFL {
    width: 30%;
    height: 80%;
    font-size: 170%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .PFL_banner .PFL_banner_div .PFL .PFL_goBTN {
    border-radius: 0.4vw;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30%;
    width: 60%;
    background-color: #006892;
  }
  .main .PFL_banner .PFL_banner_div .PFL .PFL_goBTN:hover {
    background-color: #035376;
    color: white;
  }
}

@media only screen and (max-width: 1050px) and (max-height: 3050px) and (orientation: portrait) {
  ::-webkit-scrollbar {
    display: none;
  }
  .main .utility-header {
    color: white;
    background: #046b99;
    width: 100%;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .utility-header .utility-header_content {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .utility-header .utility-header_content .logo {
    margin-top: 2.5vw;
    cursor: pointer;
  }
  .main .utility-header .utility-header_content .globe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15%;
    cursor: pointer;
  }
  .main .utility-header .utility-header_content .globe .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .utility-header .utility-header_content .globe .icon img {
    margin-right: 7%;
  }
  .main .navigation-header {
    min-height: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-bottom: 5px solid #fdb81e;
  }
  .main .navigation-header .navigation {
    width: 90.8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .banner {
    height: 375px;
    width: 100%;
    color: white;
    background-image: url(./images/banner.png);
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10%;
  }
  .main .banner .banner-content {
    background-color: rgba(1, 19, 27, 0.8);
    width: 100%;
    min-width: 80%;
    height: 80%;
  }
  .main .banner .banner-content #note {
    text-align: center;
    font-size: 14.4px;
  }
  .main .banner .banner-content #aim {
    text-align: center;
    font-size: 14.4px;
  }
  .main .banner .banner-content #unemployment {
    margin-bottom: 2%;
    text-align: center;
  }
  .main .banner .banner-content #federal {
    text-align: center;
    font-size: 14.4px;
    margin-bottom: 4%;
  }
  .main .banner .banner-content #apply {
    text-align: center;
  }
  .main .banner .banner-content #apply #apply-BTN {
    background-color: whitesmoke;
    background-image: none;
    border-bottom-color: black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 80px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    -webkit-text-decoration-color: #5555;
            text-decoration-color: #5555;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
    text-decoration-thickness: auto;
    -webkit-transition-delay: 0s, 0s, 0s, 0s;
            transition-delay: 0s, 0s, 0s, 0s;
    -webkit-transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
            transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    -webkit-transition-property: color, background-color, border-color, -webkit-box-shadow;
    transition-property: color, background-color, border-color, -webkit-box-shadow;
    transition-property: color, background-color, border-color, box-shadow;
    transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
            transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    vertical-align: middle;
  }
  .main .banner .banner-content #apply #apply-BTN:hover {
    -webkit-text-decoration-color: #02374e;
            text-decoration-color: #02374e;
    color: #02374e;
    background-color: white;
  }
  .main .claim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150vh;
    margin-bottom: 15%;
  }
  .main .claim spam {
    font-size: 25px;
  }
  .main .claim #claim-logo {
    margin-bottom: 5%;
  }
  .main .claim #claims {
    width: 90%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .claim #claims .unemployment {
    width: 265px;
    height: 235px;
    background: url(./images/unemployment.png) no-repeat 0, 0 #000303b9;
    background-blend-mode: multiply;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 36px;
  }
  .main .claim #claims .disability {
    width: 265px;
    height: 235px;
    background: url(./images/disability.png) no-repeat 0, 0 #000303b9;
    background-blend-mode: multiply;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 36px;
  }
  .main .claim #claims .PFL {
    width: 265px;
    height: 235px;
    background: url(./images/PFL.png) no-repeat 0, 0 #000303b9;
    background-blend-mode: multiply;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 36px;
  }
  .main .brief_container {
    background-color: #323A45;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 212px;
  }
  .main .brief_container span {
    width: 90%;
    font-size: 3.2vw;
  }
  .main .PFL_banner {
    background-image: url(./images/PFL-BKG-min.png);
    height: 212px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .PFL_banner .PFL_banner_div {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .PFL_banner .PFL_banner_div .PFL {
    width: 100%;
    height: 80%;
    font-size: 170%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .PFL_banner .PFL_banner_div .PFL .writeUp {
    width: 60%;
  }
  .main .PFL_banner .PFL_banner_div .PFL .PFL_goBTN {
    border-radius: 0.4vw;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30%;
    width: 60%;
    background-color: #006892;
  }
  .main .PFL_banner .PFL_banner_div .PFL .PFL_goBTN:hover {
    background-color: #035376;
    color: white;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .main .utility-header {
    color: white;
    background: #046b99;
    width: 100%;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .utility-header .utility-header_content {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .utility-header .utility-header_content .logo {
    margin-top: 0.9vw;
    cursor: pointer;
  }
  .main .utility-header .utility-header_content .globe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15%;
    cursor: pointer;
  }
  .main .utility-header .utility-header_content .globe .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .utility-header .utility-header_content .globe .icon img {
    margin-right: 7%;
  }
  .main .navigation-header {
    min-height: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    border-bottom: 5px solid #fdb81e;
  }
  .main .navigation-header .navigation {
    width: 90.8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .banner {
    height: 375px;
    color: white;
    width: 100%;
    background-image: url(./images/banner.png);
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6%;
  }
  .main .banner .banner-content {
    background-color: rgba(1, 19, 27, 0.8);
    width: 70%;
    height: 65%;
  }
  .main .banner .banner-content #aim {
    text-align: center;
  }
  .main .banner .banner-content #unemployment {
    margin-bottom: 4%;
    text-align: center;
  }
  .main .banner .banner-content #federal {
    text-align: center;
    margin-bottom: 4%;
  }
  .main .banner .banner-content #apply {
    text-align: center;
  }
  .main .banner .banner-content #apply #apply-BTN {
    background-color: whitesmoke;
    background-image: none;
    border-bottom-color: black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 80px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    -webkit-text-decoration-color: #5555;
            text-decoration-color: #5555;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-text-decoration-style: solid;
            text-decoration-style: solid;
    text-decoration-thickness: auto;
    -webkit-transition-delay: 0s, 0s, 0s, 0s;
            transition-delay: 0s, 0s, 0s, 0s;
    -webkit-transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
            transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    -webkit-transition-property: color, background-color, border-color, -webkit-box-shadow;
    transition-property: color, background-color, border-color, -webkit-box-shadow;
    transition-property: color, background-color, border-color, box-shadow;
    transition-property: color, background-color, border-color, box-shadow, -webkit-box-shadow;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
            transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    vertical-align: middle;
  }
  .main .banner .banner-content #apply #apply-BTN:hover {
    -webkit-text-decoration-color: #02374e;
            text-decoration-color: #02374e;
    color: #02374e;
    background-color: white;
  }
  .main .claim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150vh;
    margin-bottom: 15%;
  }
  .main .claim spam {
    font-size: 4vw;
  }
  .main .claim #claim-logo {
    margin-bottom: 5%;
  }
  .main .claim #claims {
    width: 90%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .claim #claims .unemployment {
    width: 265px;
    height: 235px;
    background: url(./images/unemployment.png) no-repeat 0, 0 #000303b9;
    background-blend-mode: multiply;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 36px;
  }
  .main .claim #claims .disability {
    width: 265px;
    height: 235px;
    background: url(./images/disability.png) no-repeat 0, 0 #000303b9;
    background-blend-mode: multiply;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 36px;
  }
  .main .claim #claims .PFL {
    width: 265px;
    height: 235px;
    background: url(./images/PFL.png) no-repeat 0, 0 #000303b9;
    background-blend-mode: multiply;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    border-radius: 36px;
  }
  .main .brief_container {
    background-color: #323A45;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 212px;
  }
  .main .brief_container span {
    width: 90%;
    font-size: 2.8vw;
  }
  .main .PFL_banner {
    background-image: url(./images/PFL-BKG-min.png);
    height: 212px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .PFL_banner .PFL_banner_div {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .PFL_banner .PFL_banner_div .PFL {
    width: 70%;
    height: 80%;
    font-size: 170%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .PFL_banner .PFL_banner_div .PFL .writeUp {
    width: 60%;
  }
  .main .PFL_banner .PFL_banner_div .PFL .PFL_goBTN {
    border-radius: 0.4vw;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30%;
    width: 60%;
    background-color: #006892;
  }
  .main .PFL_banner .PFL_banner_div .PFL .PFL_goBTN:hover {
    background-color: #035376;
    color: white;
  }
}
/*# sourceMappingURL=index.css.map */